.v-text-field input {
  font-size: 0.875rem;
}
.v-input--density-default {
  .v-field__input {
    min-height: 51px;
  }
}

.v-field__outline {
  color: rgb(var(--v-theme-inputBorder));
}

// 亮色主题样式
.v-theme--PurpleTheme .v-field__outline {
  --v-field-border-width: 1.2px !important;
  --v-field-border-opacity: 1 !important;
  border-color: rgb(var(--v-theme-inputBorder)) !important;
  color: rgb(var(--v-theme-inputBorder)) !important;
}

.v-theme--PurpleTheme .v-text-field:hover .v-field__outline {
  border-color: rgba(var(--v-theme-primary), 0.55) !important;
  color: rgba(var(--v-theme-primary), 0.55) !important;
}

.v-theme--PurpleTheme .v-text-field .v-field--focused .v-field__outline {
  --v-field-border-width: 2px !important;
  --v-field-border-opacity: 1 !important;
  border-color: rgb(var(--v-theme-primary)) !important;
  color: rgb(var(--v-theme-primary)) !important;
}

// 深色主题样式
.v-theme--PurpleThemeDark .v-text-field .v-field {
  background-color: rgba(var(--v-theme-surface), 0.4) !important;
}

.v-theme--PurpleThemeDark .v-text-field .v-field__outline {
  --v-field-border-width: 1.2px !important;
  --v-field-border-opacity: 1 !important;
  color: rgba(var(--v-theme-on-surface), 0.5) !important;
  border-color: rgba(var(--v-theme-on-surface), 0.5) !important;
}

.v-theme--PurpleThemeDark .v-text-field:hover .v-field__outline {
  --v-field-border-width: 1.2px !important;
  --v-field-border-opacity: 1 !important;
  color: rgba(var(--v-theme-on-surface), 0.7) !important;
  border-color: rgba(var(--v-theme-on-surface), 0.7) !important;
}

.v-theme--PurpleThemeDark .v-text-field .v-field--focused .v-field__outline {
  --v-field-border-width: 2px !important;
  --v-field-border-opacity: 1 !important;
  color: rgb(var(--v-theme-primary)) !important;
  border-color: rgb(var(--v-theme-primary)) !important;
}

.v-theme--PurpleThemeDark .v-text-field input {
  color: rgba(var(--v-theme-on-surface), 0.94) !important;
  font-weight: 500;
}
.v-theme--PurpleThemeDark .v-text-field .v-field__label {
  color: rgba(var(--v-theme-on-surface), 0.8) !important;
}

.v-theme--PurpleThemeDark .v-text-field .v-field__prepend-inner .v-icon,
.v-theme--PurpleThemeDark .v-text-field .v-field__append-inner .v-icon {
  color: rgba(var(--v-theme-on-surface), 0.8) !important;
}

.inputWithbg {
  .v-field--variant-outlined {
    background-color: rgba(var(--v-theme-primary), 0.04);
  }
}
